/* @tailwind base;
@tailwind components;
@tailwind utilities; */
*{box-sizing: border-box;}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
td {
    margin: 0;
    padding: 0;
}

ul,
ol,
dl {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

body{
  background-color: #f7f7f7;

  font-family: "Montserrat", sans-serif;
  padding-bottom: 24px;
}


